.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  /* border: 1px solid var(--highlight-background-color); */
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border: 0px;
  outline: none;
  height: 334px;
}

.cards > ul > li a.button.primary {
  white-space: normal;
  background-color: transparent;
  color: black;
  font-size: 2.8rem;
  line-height: 1.14;
  font-weight: 700;
  text-align: left;
  padding: 0px;
  border-radius: 0px;
}

.cards-card-body > p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.22;
  letter-spacing: -0.23px;
}
