footer { /* footer tag */
  /*padding: 2rem;
  background-color: var(--overlay-background-color);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;*/
}

.footer { /* . is class selector,  second foooter is class selector */
  max-width: auto;
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
  
}

.footer > div {
  /*width: 100%;
  padding: 100px 15%;*/
  background: black;
  color: #efefef;
  width: 100%;
  padding:0 18rem; /*top/bottom, left/right */
  box-sizing: border-box;

}
 
.footer  div > div:first-child{ /* > child selector, div tag after div tag, and apply css only on first child*/
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding:20px 0 40px; /* top left/right bottom */
  box-sizing: border-box;
 
}

.footer > div > div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 0.251px solid grey;
  padding: 1rem 0 2rem;
  
}

.footer > div > div > p > picture > img {
  width: 14.5rem;
  height: fit-content;

}

.footer > div > div > ul  {
 display: grid;
 gap:1rem;
 font-size: 11px;
 font-weight: 400 ;
 cursor: pointer;

}


.footer > div > div > ul > li:hover {
  color: #AE9247;
  cursor: pointer;
}

.footer ul {
   padding-left: 20px;
  /*font-size: 12px;*/
  list-style: none;
}

.footer li:first-child{ /* need to change font-size and family */
  text-transform: uppercase;
  font-size: 11.5px;
  /*font-weight: 600;*/
}

.footer a:any-link{
  text-decoration: none;
  color: inherit;
}


.footer li > span{ /* span : container */
 fill:white;
 background: green;
 /*height: 30px;
 width: 30px;  As i have added display:block or flex, it is not needed*/
 border-radius: 2px;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 2px;
}

.footer li > span > svg{ /* svg is item */
  height: 16px;
  width: 16px;
  border: 0;
  box-sizing: border-box;
  margin:6px;
  align-self: center;
}


 .footer div > div > ul:last-child > li:first-child{ /* follow us*/
  margin-right: 30px;
  
  text-transform:capitalize ;
  

}

.footer div > div > ul:last-child > li:first-child:hover{
  cursor: default;
  color: white;
}

.footer div > div > ul:last-child{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap:wrap;

}

/*grid item*/
.footer div > p { /* > is child selector after p tag after div is present.*/
  font-size: 10px;
  padding-left: 20px;
  /*background-color: red*/;

}


